Flask==2.3.3
Flask-LogConfig==0.4.2
Flask-Script==2.0.6
requests==2.31.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.21
GeoAlchemy2==0.14.1
psycopg2==2.9.7
Flask-Migrate==4.0.5
alembic==1.12.0
shapely==2.0.1
manage.py==0.2.10
git+http://internal-git-host/llc-beta/jwt-validation.git@v1.2.3
git+http://internal-git-host/llc-beta/llc-schema-dto.git@v1.1.7
gunicorn==21.2.0
werkzeug==2.3.7
